<%- include("../partials/header") %>

<div class="row">
	<div class="col-md-4">
		<div class="card">
			<img class="card-img-top" src="<%= user.avatar %>" alt="user profile image">
			<div class="card-body">
				<h5 class="card-title"><%= user.firstName + " " + user.lastName %></h5>
				<p class="card-text">emal me: <a href="mailto:<%= user.email %>"><%= user.email %></a></p>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<h3>
			<%= user.username %>'s campgrounds:
		</h3>
		<ul>
			<% campgrounds.forEach(function(campground) {%>
				<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
			<% }) %>
		</ul>
	</div>
</div>


<%- include("../partials/footer") %>