<%- include("../partials/header") %>

<div class="row">
	<div class="col-md-4">
		<h1>
			<%= user.firstName + " " + user.lastName %>
		</h1>
		<div class="thumbnail">
			<img src="<%= user.avatar %>" alt="user profile image">
			<div class="caption">
				<a href="mailto:<%= user.email %>"><%= user.email %></a>
			</div>
		</div>
		Village did removed enjoyed explain nor ham saw calling talking. Securing as informed declared or margaret. Joy horrible moreover man feelings own shy. Request norland neither mistake for yet. Between the for morning assured country believe. On even feet time have an no at. Relation so in confined smallest children unpacked delicate. Why sir end believe uncivil respect. Always get adieus nature day course for common. My little garret repair to desire he esteem. 

It allowance prevailed enjoyment in it. Calling observe for who pressed raising his. Can connection instrument astonished unaffected his motionless preference. Announcing say boy precaution unaffected difficulty alteration him. Above be would at so going heard. Engaged at village at am equally proceed. Settle nay length almost ham direct extent. Agreement for listening remainder get attention law acuteness day. Now whatever surprise resolved elegance indulged own way outlived. 
	</div>
	<div class="col-md-8">
		<h3>
			<%= user.username %>'s campgrounds:
		</h3>
		<ul>
			<% campgrounds.forEach(function(campground) {%>
				<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
			<% }) %>
		</ul>
	</div>
</div>


<%- include("../partials/footer") %>